@import 'tailwindcss';
@import '@/styles/fonts.css';
@import '@/styles/colors.css';

/* Hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Shine effect - 왼쪽에서 오른쪽으로 빛이 지나가는 효과(랜딩페이지 사용) */
@layer utilities {
  .shine-effect {
    position: relative;
    overflow: hidden;
  }

  .shine-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    animation: shine 2s ease-in-out;
  }
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
