@import 'tailwindcss';
@import '@/styles/fonts.css';
@import '@/styles/colors.css';

/* Hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
